.home-box {
    display       : flex;
    height        : 100%;
    flex-direction: column;

    &.none {
        display: none;
    }

    .home-container {
        height             : 100%;
        padding-bottom     : 28px;
        flex               : 1;
        position           : relative;
        box-sizing         : border-box;
        -moz-user-select   : none;
        -webkit-user-select: none;
        -ms-user-select    : none;
        -khtml-user-select : none;
        user-select        : none;

        display       : flex;
        flex-direction: column;
        flex-wrap     : wrap;

        .addlist-item {
            width          : 50px;
            height         : 60px;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
            border         : 1px solid transparent;


            >img {
                width        : 25px;
                height       : 25px;
                margin-top   : 5px;
                margin-bottom: 8px;
            }
        }

        .addlist-item-font {
            color         : #fff;
            padding-bottom: 3px;
        }

        .addlist-item:hover {
            background-color: rgba(255, 255, 255, .1);
            border          : 1px dashed rgba(240, 240, 240, 0.3);
            border-radius   : 2px;
        }

        .addlist-item.hover {
            background-color: rgba(0, 0, 0, .2);
            border          : 1px dashed rgba(240, 240, 240, 0.3);
            border-radius   : 2px;
        }


    }

    .home-botton-container {
        background         : rgba(0, 0, 0, .3);
        position           : fixed;
        bottom             : 0;
        width              : 100%;
        display            : flex;
        flex-direction     : row;
        justify-content    : flex-start;
        align-items        : center;
        -moz-user-select   : none;
        -webkit-user-select: none;
        user-select        : none;

        .home-botton-logo {
            width : 18px;
            margin: 0 8px;

            >img {
                width : 18px;
                height: 18px;
            }
        }

        .home-botton-apps {
            width          : 22px;
            height         : 22px;
            flex           : 1;
            display        : flex;
            justify-content: flex-start;
            align-items    : center;

            .apps-item {
                height         : 100%;
                padding        : 0 5px;
                background     : rgba(255, 255, 255, .1);
                display        : flex;
                justify-content: center;
                align-items    : center;
                margin-right   : 4px;

                >img {
                    width : 18px;
                    height: 18px;
                }
            }
        }

        .show-deskstop {
            width      : 10px;
            border-left: 1px solid rgba(255, 255, 255, .3);
            height     : 22px;
        }
    }
}

.none.home-container {
    display: none;
}

// toast样式
.browser-container {
    position            : absolute;
    top                 : 50%;
    left                : 50%;
    transform           : translate(-50%, -50%);
    width               : 700px;
    height              : 400px;
    // border        : 1px solid #eee;
    // border-radius    : 3px;
    overflow            : scroll;
    display             : flex;
    flex-direction      : column;
    transition          : width .5s, height .5s, top 3s;

    .browser-title-container {
        background   : lightskyblue;
        width        : 100%;
        height       : 15px;
        border-radius: 3px 3px 0 0;

        .icon-contianer {
            width          : 100%;
            height         : 100%;
            display        : flex;
            justify-content: flex-end;
            align-items    : center;

            span {
                display        : flex;
                width          : 14px;
                height         : 14px;
                justify-content: center;
                align-items    : center;
            }
        }
    }

    .iframe-container {
        flex         : 1;
        border-top   : none;
        border-radius: 0 0 3px 3px;
        background   : #fff;

        html,
        body {
            margin: 0
        }
    }

    &.normal {
        width : 700px;
        height: 400px;
    }

    &.large {
        width : 100%;
        height: 100%;
    }

    &.close {
        width : 0;
        height: 0;
    }
}

.textmenu-container {
    display         : none;
    background-color: #fff;
    position        : absolute;
    z-index         : 100;
    border-radius   : 5px;

    ul {
        border             : 2px solid #ddd;
        border-radius      : 5px;
        -moz-user-select   : none;
        /*火狐*/
        -webkit-user-select: none;
        /*webkit浏览器*/
        -ms-user-select    : none;
        /*IE10*/
        -khtml-user-select : none;
        /*早期浏览器*/
        user-select        : none;

        >li {
            width      : 75px;
            height     : 22px;
            line-height: 22px;
            padding    : 0 5px;
        }

        >li:hover {
            background-color: #ddd;
            cursor          : pointer;
        }
    }
}