@import '~antd/dist/antd.css';

html,
body,
ul,
li {
    margin    : 0;
    padding   : 0;
    outline   : none;
    border    : none;
    list-style: none;
}

html,
body,
#root,
.app,
.app-pc,
.app-phone {
    height  : 100%;
    overflow: hidden;
}

.app-pc {
    background     : url('./img/PCImg/HomeBg.jpg') no-repeat;
    background-size: 100% 100%;
    position       : relative;
}